<!DOCTYPE html>
<html>

<head>
    <title>Swagger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow mb-4">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/docs/">Bsale_test - API REST Endpoints</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#swagger-ui">HTTP request examples and test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/">API REST</a>
                    </li>
                 </ul>
            </div>
        </div>
    </nav>
    <!-- Section-->
        <section class="py-4">
            <div class="container px-4 px-lg-5 mt-1">
                <div class="container col-12 px-4 px-lg-5 mt-3">
                    <div id="spinner" class="d-none d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="bg-light p-3" id="products">
                        <div class="row">
                            <h2>Description and tests of HTTP requests</h3>
                            <hr>
                            <h4>GET Categories:</h4>
                            <li>GET /api/categories/ || Returns all product categories</li><br>
                            <p>Parametros:</p><br>
                            <li>id: Category id</li>
                            <li>name: Product category name</li>
                            <br>
                            <br>
                            <h4>GET Unique category:</h4>
                            <li>GET /api/categories/6/ || Returns a specific category</li><br>
                            <p>Parametros:</p><br>
                            <li>id: Category id</li>
                            <li>name: Product category name</li>
                            <br>
                            <br>
                            <h4>GET Products:</h4>
                            <li>GET /api/search/ || Return all products</li><br>
                            <p>Parametros:</p><br>
                            <li>id: Product id</li>
                            <li>name: Product name</li>
                            <li>url_image: Product image url</li>
                            <li>price: Product price</li>
                            <li>discount: Product discount in whole numbers (0-100)</li>
                            <li>category: Category id to which the product belongs</li>
                            <br>
                            Optional parameters:
                            <li>GET /api/search/?ordering=price&search=pisco
                                <ul>
                                    <li>"ordering" ordering method for the products according to the following options:
                                        <ul>
                                            <li>"price": price from lowest to highest</li>
                                            <li>"-price": price from highest to lowest</li>
                                            <li>"name": A-Z name</li>
                                            <li>"-name": Z-A name</li>
                                            <li>"discount": discount from lowest to highest</li>
                                            <li>"-discount": discount from highest to lowest</li>
                                        </ul>
                                    </li>
                                    <li>"search" keyword to match product names</li>
                                </ul>
                            </li>
                            <br>
                            <br>
                            <h4>GET Unique product:</h4>
                            <li>GET /api/search/7/ || Return a specific product</li><br>
                            <p>Parametros:</p><br>
                            <li>id: Product id</li>
                            <li>name: Product name</li>
                            <li>url_image: Product image url</li>
                            <li>price: Product price</li>
                            <li>discount: Product discount in whole numbers (0-100)</li>
                            <li>category: Category id to which the product belongs</li>
                            <br>
                            <br>
                            <h3>In the <a href="#swagger-ui">API section of Bsale_test</a>, you can make requests where the structures that return the requests for each URL are shown in detail; In addition to being able to see examples, do tests and see the responses of the server.</h3>
                        </div>
                                
                    </div>
                </div>
            </div>
        </section>
    <div id="swagger-ui"></div>
    <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
    <script>
        const ui = SwaggerUIBundle({
            url: "{% url 'schema' %}",
            dom_id: '#swagger-ui',
            presets: [
                SwaggerUIBundle.presets.apis,
                SwaggerUIBundle.SwaggerUIStandalonePreset
            ],
            layout: "BaseLayout",
            requestInterceptor: (request) => {
                request.headers['X-CSRFToken'] = "{{ csrf_token }}"
                return request;
            }
        })
    </script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>